{% extends 'common.html' %}
{% block suresh %}
    {% load static %}
    {% include 'menu.html' %}
    <table align="center" border="2">
    <tr>
        <th>
            <img src="{% static 'images/mart.png' %}" width="400" height="400">
        </th>
        <th><p>
The Save Mart Cos. is dedicating special shopping hours for first responders at Save Mart, FoodMaxx and Lucky stores throughout California and northern Nevada as a way to assist and thank them for their service during the coronavirus health crisis. Dedicated shopping hours began on Thursday, April 2.

First responders, defined as law enforcement, fire and medical personnel, will have the opportunity to shop all of Save Mart’s 205 stores one hour before and one hour after posted store hours every day for the time being. First responders will need to provide proof of credentials to access dedicated shopping.

Related: Save Mart looks to </p></th>
    </tr>
    </table>

{% endblock %}