{% extends 'common.html' %}

{% block suresh %}
    {% include 'menu.html' %}
    <form action="{% url 'save' %}" method="post">
    {% csrf_token %}
    <table align="center" border="2">
    <tr>
        <th colspan="2" style="text-align: center;color: coral">Customer Registraton</th>
    </tr>
    {{ form }}
    <tr>
        <th style="text-align: center" colspan="2"><button type="submit">register</button> </th>
    </tr>
        {% for x in messages %}
            <tr><th style="text-align: center;color: red;background-color: yellow">{{ x }}</th></tr>
        {% endfor %}
    </table></form>
{% endblock %}